[submodule "anki/victor"]
	path = anki/victor
	url = https://github.com/os-vector/wire-os-victor
[submodule "poky/poky"]
	path = poky/poky
	url = https://github.com/yoctoproject/poky
	branch = walnascar
[submodule "poky/meta-openembedded"]
	path = poky/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
	branch = walnascar
[submodule "anki/wired"]
	path = anki/wired
	url = https://github.com/os-vector/wired
[submodule "anki/vic-cloudless"]
	path = anki/vic-cloudless
	url = https://github.com/kercre123/vic-cloudless
