[submodule "anki/victor"]
	path = anki/victor
	url = https://github.com/purpl-org/redOS
	branch = snowboy
[submodule "anki/vector-cloud"]
	path = anki/vector-cloud
	url = https://github.com/DDLBots/vector-cloud-fork
[submodule "anki/wired/vector-gobot"]
	path = anki/wired/vector-gobot
	url = https://github.com/kercre123/vector-gobot
