[Unit]
Description=Anki Bluetooth Daemon
Wants=btproperty.service leprop.service
After=btproperty.service leprop.service

[Service]
User=bluetooth
Restart=always
RestartSec=30
ExecStart=/usr/bin/qtirun /usr/bin/ankibluetoothd
AmbientCapabilities=CAP_WAKE_ALARM CAP_SYS_CHROOT

[Install]
WantedBy=multi-user.target
