[Unit]
Description=bluetooth properties
Wants=leprop.service
After=leprop.service

[Service]
User=bluetooth
Type=simple
Restart=always
ExecStart=/usr/bin/qtirun /usr/bin/btproperty
AmbientCapabilities=CAP_WAKE_ALARM CAP_SYS_CHROOT

[Install]
WantedBy=multi-user.target
