# Copyright (c) 2017 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#

[Unit]
Description=mdsprpc Service
SourcePath=/usr/qtiroot/usr/bin/mdsprpcd
After=setup-qtiroot.service
Requires=setup-qtiroot.service

[Service]
Restart=yes
ExecStart=/usr/bin/qtirun /usr/bin/mdsprpcd

[Install]
WantedBy=multi-user.target
