# Copyright (c) 2017 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
[Unit]
Description=qti system daemon Service
SourcePath=/usr/qtiroot/usr/bin/qti_system_daemon
Requires=mount-data.service
After=mount-data.service

[Service]
Restart=always
ExecStart=/usr/bin/qtirun /usr/bin/qti_system_daemon
