[Unit]
SourcePath=/usr/qtiroot/usr/bin/qti
Description= qti service
Requires=mount-data.service
After=mount-data.service

[Service]
Restart=always
ExecStart=/usr/bin/qtirun /usr/bin/qti

[Install]
WantedBy=multi-user.target
