[Unit]
Description= Remote Storage Service
SourcePath=/usr/qtiroot/sbin/rmt_storage
After=setup-qtiroot.service
Requires=setup-qtiroot.service

[Service]
Restart=always
ExecStart=/usr/bin/qtirun /sbin/rmt_storage

[Install]
WantedBy=multi-user.target
