[Unit]
SourcePath=/etc/initscripts/setup-qtiroot
Description=setup our stupid little sysroot for Qualcomm's BS

[Service]
Type=oneshot
ExecStart=/etc/initscripts/setup-qtiroot

[Install]
WantedBy=multi-user.target
