[Unit]
Description=Anki Camera Service
SourcePath=/usr/qtiroot/usr/bin/mm-anki-camera
Requires=mm-qcamera-daemon.service
After=mm-qcamera-daemon.service

[Service]
Restart=always
ExecStart=/usr/bin/mm-anki-camera-wrapper -v 0 $MM_ANKI_CAMERA_OPTS
Group=camera
UMask=0007
AmbientCapabilities=CAP_WAKE_ALARM

[Install]
WantedBy=multi-user.target
