[Unit]
Description= MM Camera Daemon Service
SourcePath=/usr/qtiroot/system/bin/mm-qcamera-daemon
Wants=ankiinit.service
After=ankiinit.service

[Service]
Restart=always
ExecStart=/usr/bin/mm-qcamera-daemon

[Install]
WantedBy=multi-user.target
